h1 {
  color: rgb(223, 7, 7);
  text-shadow: 2px 2px rgb(47, 29, 28);
  border-bottom: rgb(47, 29, 28) 0.5px solid;
  margin-bottom: 50px;
  padding-bottom: 5px;
}

h3 {
  font-size: 20px !important;
  margin-bottom: 20px !important;
  color: rgb(14, 5, 5);
  text-shadow: 1px 1px rgb(141, 141, 141);
}

.moviesContainer {
  height: 90vh;
}

.movieList {
  width: 75vw;
  height: fit-content;
  display: flex;
  margin-left: 10px;
  gap: 25px;
}

.movieList table {
  table-layout: fixed;
  border-collapse: separate !important;
  vertical-align: middle;
  height: fit-content;
}
